<% provide(:title, 'Cadastro') %>
<h1>Cadastro</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for(@cliente, :url => {:action=>"create", :controller=>"cliente"}, :method => :post) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.label :pessoa %>
        <%= f.text_field :pessoa %>

        <%= f.label :usuario %>
        <%= f.text_field :usuario %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :senha %>
        <%= f.password_field :senha %>

    <%= submit_tag "Criar minha conta (:", class: "btn btn-large btn-primary" %>

    <% end %>
     </div>
   </div>

